body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(69, 105, 103);
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inputPDF {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
label {
  font-size: 1.3em;
  color: white;
  border: 2px solid white;
  border-radius: 1em;
  padding: 2%;
}
